<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="speakerRepository"
          class="com.pluralsight.repository.HibernateSpeakerRepositoryImpl" />
<!--autowire example on the line below-->
    <bean name="speakerService" class="com.pluralsight.service.SpeakerServiceImpl" autowire="constructor" >
<!--        Setter injection-->
<!--        <property name="speakerRepository" ref="speakerRepository" />-->
<!--        Constructor injection-->
<!--        <constructor-arg index = "0" ref = "speakerRepository" />-->
    </bean>

</beans>

<!--XML Beans Namespace code-->